@font-face {
  font-family: 'Rage';
  src: url('fonts/RAGE.TTF');
}

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 'Lato', arial, tahoma;
  font-family: 'Lato', arial, tahoma;
}

body {
    background: linear-gradient(90deg, #0d2932, #272727, #0e2932);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 42s ease infinite;
    -moz-animation: AnimationName 42s ease infinite;
    animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1, h2, h3, p{
  color: #f9f9f9;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
header, footer{
  padding: 0;
  margin: 0;
}
header .block{
  height: 10px;
  display: flex;
}
header{
  display: grid;
  text-align: center;
  margin-bottom: 50px;
}
.block img{
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.b1{
  /* background: #2f4b9c; */
  background: rgb(54,177,219);
  grid-column: 1;
}
.b2{
  background: #3f56ad;
  grid-column: 2;
}
.b3{
  background: #4a6fc3;
  grid-column: 3;
}
.b4{
  background: #5983c9;
  grid-column: 4;
}
.b5{
  background: #7ab8e7;
  grid-column: 5;
}
a{
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.1s;
  outline: none;
}
a:hover{
  color: #f9f9f9;
  outline: none;
  border: none;
}
footer a{
  display: inline-block;
}
.main-content{
  text-align: center;
}
a:focus{
  outline: none;
  text-decoration: none;
}
.image{
  background: #f9f9f9;
}
.empty{
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}
.logger, .logger img{
  position: absolute;
}
.title-block{
  padding: 20px;
  display: block;
  max-width: 250px;
  margin-bottom: 50px;
  padding: 50px 0;
  opacity: 1;
  /* border-bottom: 5px solid #7ab8e7; */
  border-bottom: 5px solid rgb(54,177,219);
}

/* Portfolio */

.portfolio-item{
  min-width: 300px;
  min-height: 200px;
  background: #3f56ad;
  margin: auto;
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: .6s;
  overflow: hidden;
}
.portfolio-item-header{
  text-align: center;
}
.portfolio-item-header h2{
  padding: 5px 0;
  font-weight: normal;
  overflow: hidden;
  opacity: 0;
  transition: .3s;
  transition-delay: 0.3s;

}
.portfolio-item:hover h2{
  opacity: 1;
  transition: .6s;
  transition-delay: 0.4s;
}
.portfolio-item-topline{
  width: 0;
  margin: auto;
  height: 2px;
  background: #fff;
  transition: .6s;
  transition-delay: .2s;
}
.portfolio-item-logo{
  text-align: center;
  margin: auto;
  min-width: 300px;
  height: 100px;
  padding: 10px 5px;
  display: table-cell;
  vertical-align: middle;
  transition: .4s;
  transform: translateY(20px);
}
.portfolio-item-description{
  position: relative;
  display: block;
  padding: 22.5px 10px;
  background: #fff;
  transform: translateY(80px);
  transition-delay: .1s;
  transition: .6s;

}

.portfolio-item-bottomline{
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
}
.portfolio-item-bottomline div{
  transition: .6s;
  width: inherit;
  height: 100%;
  margin: auto;
  background: #3f56ad;
  opacity: 1;
}

.portfolio-item-description p{
  color: #3f56ad;
  font-size: 18px;
}
.portfolio-item-logo img{
  height: 70px;
  transition: .6s;
  transition-delay: .2s;
  z-index: 0;
}

.portfolio-item-header{
  z-index: 1000;
  position: relative;
}

.wrapper{
  width: 0;
  height: 0;
}

.portfolio-item{
  opacity: 0;
}

.portfolio-photo-item img{
  transform-origin: center;
  position: relative;
}

.portfolio-photo-item .portfolio-item-logo{
  padding-left: 0;
  padding-right: 0;
}


.portfolio .green{
  background: #64cc6c;
}
.portfolio .green .portfolio-item-bottomline div{
  background: #64cc6c;
}
.portfolio .green .portfolio-item-description p{
  color: #64cc6c;
}

.portfolio .orange{
  background: #ff814f;
}
.portfolio .orange .portfolio-item-bottomline div{
  background: #ff814f;
}
.portfolio .orange .portfolio-item-description p{
  color: #ff814f;
}

.portfolio .red{
  background: #ff4f4f;
}
.portfolio .red .portfolio-item-bottomline div{
  background: #ff4f4f;
}
.portfolio .red .portfolio-item-description p{
  color: #ff4f4f;
}

.portfolio .purple{
  background: #9d71de;
}
.portfolio .purple .portfolio-item-bottomline div{
  background: #9d71de;
}
.portfolio .purple .portfolio-item-description p{
  color: #9d71de;
}



.hero img, .portfolio-category img, .contacts img, #footer img, .portfolio-item img{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content-block{
  margin-bottom: 50px;
}
.title-block ,.title-header, .title-header h1{
  transition: .6s;
}
.content-block:hover .title-block{
  transition: .5s;
  margin-left: -200px;
  opacity: 0;
}
.content-block:hover .title-header h1{
  color: #fff;
  transition: .5s;
}
.content-block:hover .title-header{
  left: 46%;
}
.title-header{
  position: absolute;
  height: 0;
  width: 0;
  left: 45px;
  margin-top: 20px;
  text-align: center;
}
.title-header h1{
  color: rgb(54,177,219);
  font-family: "Rage";
  font-weight: normal;
  font-size: 48px;
  position: relative;
  text-align: center;
  z-index: 1000;
}
.contacts .title-header{
  left: 65px;
}
.portfolio-item:hover{
  transition: .4s;
  transform: translateY(-10%);
  cursor: pointer;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.portfolio-item:hover .portfolio-item-topline{
  transition: .4s;
  width: 100%;
  transition-delay: .2s;
}
.portfolio-item:hover img{
  transition: .4s;
  height: 60px;
  transition-delay: .1s;
}
.portfolio a{
  display: inline-grid;
  margin: 24px 10px;
}
.contacts a{
  display: inline-grid;
  margin: 30px 10px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
}

.contacts-item{
  min-width: 200px;
  min-height: 200px;
  background: #3f56ad;
  margin: auto;
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: .6s;
  overflow: hidden;
}
.contacts-item-logo{
  text-align: center;
  margin: auto;
  min-width: 200px;
  height: 100px;
  padding: 10px 5px;
  display: table-cell;
  vertical-align: middle;
  transform: translateY(40px);
  transition: .5s;
}
.contacts-item-description{
  position: relative;
  display: block;
  padding: 26px 10px;
  background: #fff;
  transition: .5s;
  transform: translateY(80px);
  transition-delay: .1s;
}
.contacts-item-description p{
  color: #3f56ad;
  font-size: 18px;
}
.contacts-item-bottomline{
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
}
.contacts-item-bottomline div{
  transition: .6s;
  width: inherit;
  height: 100%;
  margin: auto;
  background: #3f56ad;
}
.contacts-item-logo img{
  height: 60px;
  transition: .6s;
  transition-delay: .4s;
}
.contacts-item:hover .contacts-item-description{
  transition: .4s;
  transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-description{
  transition: .4s;
  transform: translateY(0);
}
.contacts-item:hover{
  transform: translateY(-40px);
}
.contacts-item:hover .contacts-item-logo{
  transform: translateY(0);
  transition: .5s;
  transition-delay: .1s;
}
.portfolio-item:hover .portfolio-item-logo{
  transform: translateY(0);
  transition: .5s;
  transition-delay: .1s;
}
#footer{
  text-align: center;
}
#footer p{
  color: #8c8c8c;
  font-size: 14px;
  padding-top: 40px;
}

.h40-img img{
  height: 40px !important;
}
.h40-img{
  position: relative;
  bottom: 10px;
}

.gray-contacts, .gray-contacts .contacts-item-bottomline div{
  background: #2c2c2c;
}
.gray-contacts .contacts-item-description p{
  color: #2c2c2c;
}
.green-contacts, .green-contacts .contacts-item-bottomline div{
  background: #81B441;
}
.green-contacts .contacts-item-description p{
  color: #62991d;
}
.lime-contacts, .lime-contacts .contacts-item-bottomline div{
  background: #6FDA44;
}
.lime-contacts .contacts-item-description p{
  color: #6FDA44;
}
.pink-contacts, .pink-contacts .contacts-item-bottomline div{
  background: #E8486A;
}
.pink-contacts .contacts-item-description p{
  color: #E8486A;
}
.white-contacts, .white-contacts .contacts-item-bottomline div{
  background: #fff;
}
.white-contacts .contacts-item-description{
  background: #2c2c2c;
}
.white-contacts .contacts-item-description p{
  color: #fff;
}
.blue-contacts, .blue-contacts .contacts-item-bottomline div{
  background: #0077B5;
}
.blue-contacts .contacts-item-description p{
  color: #0077B5;
}
.orange-contacts, .orange-contacts .contacts-item-bottomline div{
  background: #FF5500;
}
.orange-contacts .contacts-item-description p{
  color: #FF5500;
}
.red-contacts, .red-contacts .contacts-item-bottomline div{
  background: #d14b4b;
}
.red-contacts .contacts-item-description p{
  color: #d14b4b;
}

.email{
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 8px 5px 8px;
  float: right;
  margin-right: 50px;
  margin-top: -26px;
  transition-duration: 0.3s;
}
.email:hover{
  background: rgba(255, 255, 255, 0.1);;
  transform: scale(1.1);
}


/* Category */

.category-block{
  display: inline-block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
  border-bottom: 4px solid #3c3c3c;
  border-color: rgba(0, 0, 0, 0);
  transition-duration: .5s;
  transition-delay: .1s;
}

.category-block:hover{
  background: rgba(0, 0, 0, 0.15);
  transition-delay: 0s;
  transition-duration: .4s;
  margin: 5px 20px;
  border-bottom: 4px solid #f1f1f1;
}

.category-block:hover ~ .category-block{
  margin: 5px;
}

.category .orange:hover{
  border-bottom: 4px solid #ff814f;
}
.category .orange-selected{
  margin: 5px 20px;
  border-bottom: 4px solid #ff814f;
}
.category .purple:hover{
  border-bottom: 4px solid #9d71de;
}
.category .purple-selected{
  margin: 5px 20px;
  border-bottom: 4px solid #9d71de;
}
.category .green:hover{
  border-bottom: 4px solid #64cc6c;
}
.category .green-selected{
  margin: 5px 20px;
  border-bottom: 4px solid #64cc6c;
}
.category .red:hover{
  border-bottom: 4px solid #ff4f4f;
}
.category .red-selected{
  margin: 5px 20px;
  border-bottom: 4px solid #ff4f4f;
}

.category-item{
  min-width: 200px;
  min-height: 200px;
  background: #3f56ad;
  margin: auto;
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: .6s;
  overflow: hidden;
}
.category-item-logo{
  text-align: center;
  margin: auto;
  min-width: 200px;
  height: 100px;
  padding: 10px 5px;
  display: table-cell;
  vertical-align: middle;
  transform: translateY(40px);
  transition: .5s;
}
.category-item-description{
  position: relative;
  display: block;
  padding: 26px 10px;
  background: #fff;
  transition: .5s;
  transform: translateY(80px);
  transition-delay: .1s;
}
.category-item-description p{
  color: #3f56ad;
  font-size: 18px;
}
.category-item-bottomline{
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
}
.category-item-bottomline div{
  transition: .6s;
  width: inherit;
  height: 100%;
  margin: auto;
  background: #3f56ad;
}
.category-item-logo img{
  height: 70px;
  transition: .6s;
  transition-delay: .4s;
}
.category-item:hover .category-item-description{
  transition: .4s;
  transform: translateY(0);
}
.category-item:hover{
  transform: translateY(-40px);
}
.category-item:hover .category-item-logo{
  transform: translateY(0);
  transition: .5s;
  transition-delay: .1s;
}
.category .title-header{
  left: 65px;
}
.portfolio-category a{
  display: inline-grid;
  margin: 30px 10px;
}


.revert-title .portfolio-item-description{
	background: #2c2c2c;
}
.revert-title .portfolio-item-topline{
	background: #2c2c2c;
}
.revert-title .portfolio-item-header h2{
	color:  #2c2c2c;
}
.no-title .portfolio-item-header{
  opacity: 0;
}


.gray-category, .gray-category .category-item-bottomline div{
  background: #2c2c2c;
}
.gray-category .category-item-description p{
  color: #2c2c2c;
}
.orange-category, .orange-category .category-item-bottomline div{
  background: #ff814f;
}
.orange-category .category-item-description p{
  color: #ff814f;
}
.red-category, .red-category .category-item-bottomline div{
  background: #ff4f4f;
}
.red-category .category-item-description p{
  color: #ff4f4f;
}
.purple-category, .purple-category .category-item-bottomline div{
  background: #9d71de;
}
.purple-category .category-item-description p{
  color: #9d71de;
}
.green-category, .green-category .category-item-bottomline div{
  background: #64cc6c;
}
.green-category .category-item-description p{
  color: #64cc6c;
}

.white-title .portfolio-item-description p{
  color: #fff !important;
}

.details{
  text-align: center;
  display: block;
  padding: 0 20px;
}
.details-block{
  max-width: 700px;
  margin: 20px auto;
}
.details-block img{
  max-width: inherit;
}

/* Screen */

@media screen and (max-width: 1500px){
  .details-block{
    max-width: 70%;
  }
}
@media screen and (max-width: 1300px){
  .content-block:hover .title-header{
    left: 44%;
  }
}
@media screen and (max-width: 1100px){
  .details-block{
    max-width: 80%;
  }
}
@media screen and (max-width: 768px){
  .content-block:hover .title-header{
    left: 40%;
  }
  .details-block{
    max-width: 99%;
  }
}
@media screen and (max-width: 480px){
  .portfolio-item h2{
    opacity: 1;
  }
  .content-block:hover .title-block{
    margin-left: 0px;
    opacity: 1;
  }
  .content-block:hover .title-header h1{
    color: #7ab8e7;
    transition: .5s;
  }
  .content-block:hover .title-header{
    left: 45px;
  }
  .contacts:hover .title-header{
    left: 65px;
  }
  .portfolio-item{
    transition: .4s;
    transform: translateY(-10%);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .portfolio-item-topline{
    transition: .4s;
    width: 100%;
    transition-delay: .2s;
  }
  .portfolio-item img{
    transition: .4s;
    height: 60px;
    transition-delay: .1s;
  }
  .contacts-item-description{
    transition: .4s;
    transform: translateY(0);
  }
  .portfolio-item-description{
    transition: .4s;
    transform: translateY(0);
  }
  .contacts-item{
    transform: translateY(-40px);
  }
  .contacts-item-logo{
    transform: translateY(0);
    transition: .5s;
    transition-delay: .1s;
  }
  .portfolio-item-logo{
    transform: translateY(0);
    transition: .5s;
    transition-delay: .1s;
  }
  .category-block{
    display: block;
    max-width: 200px;
    margin: 10px auto;
  }
  .category-block:hover{
    margin: 10px auto;
  }
  .category-block:hover ~ .category-block{
    margin: 10px auto;
  }
  .orange-selected, .green-selected, .red-selected, .purple-selected{
    margin: 10px auto !important;
  }
  .portfolio-item-header{
    z-index: 0;
    position: relative;
  }
  .category-item .category-item-description{
    transition: .4s;
    transform: translateY(0);
  }
  .category-item{
    transform: translateY(-40px);
  }
  .category-item .category-item-logo{
    transform: translateY(0);
    transition: .5s;
    transition-delay: .1s;
  }
  .email{
    margin-right: 25px;
  }

}
