.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6{
  margin: 10px 0;
}
.blog-content h1{
  font-size: 48px;
}
.blog-content h2{
  font-size: 38px;
}
.blog-content h3{
  font-size: 32px;
}
.blog-content h4{
  font-size: 26px;
}
.blog-content h5{
  font-size: 18px;
}
.blog-content h6{
  font-size: 16px;
}
.blog-content p{
  line-height: 1.5rem;
  padding-bottom: 10px;
}
.blog-content li{
  margin: 5px 0;
}
.blog-content ul{
  padding: 10px 20px;
  margin: 0;
  list-style-type: disc;
}
.blog-content ol{
  padding: 10px 20px;
  margin: 0;
  list-style-type: decimal;
}
.blog-title{
  position: static;
  height: auto;
  padding: 15px 20px;
  width: 95%;
}
.blog-title h2{
  text-overflow: clip;
  white-space: normal;
  height: auto;
  width: 100%;
  text-align: center;
  color: #f9f9f9;
  line-height: 2rem;
}
.blog-header{
  margin: 0;
  padding: 0;
  position: static;
  height: auto;
}
.blog-date{
  position: relative;
  display: inline-block;
  bottom: 76px;
  left: 385px;
  border-right: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}
.blog-stats{
  min-width: 300px;
  text-align: center;
  width: 400px;
}
.blog-stats-views{
  margin: 0;
}
.blog-stats-author p{
  margin-left: 0;
}
.blog-stats-author h4{
  left: 0;
}
.blog-stats-author{
  min-width: 100px;
  max-width: 500px;
  margin-right: 50px;
}
.blog-share{
  left: 600px;
}
.blog-share-button-cover{
  display: inline-block;
  margin: 0;
  width: 150px;
}
.triangle{
  left: 50px;
}
.blog-image{
  height: auto;
  background: #2c2c2c;
}
.d-blog-tags{
  background: #3c3c3c;
  color: #f1f1f1;
  padding: 10px 5px;
}
.d-blog-tags-button{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  height: 20px;
  width: 20px;
  color: #f5f5f5;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s;
  display: inline-block;
  padding: 8px 5px 0 5px;
}
.d-blog-tags-list{
  display: inline-block;
}
.d-blog-tags a{
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  background: #f1f1f1;
  border-radius: 15px;
  border: 2px solid #f1f1f1;
  transition: all 0.2s;
}
.d-blog-tags a:hover{
  background: #f5f5f5;
  border-color: #3c3c3c;
}
.page-navigation div, .page-navigation i{
  display: inline-block;
}
.page-navigation{
  height: auto;
}
.page-navigation i{
  padding: 10px;
}
.page-navigation a{
 max-width: 350px;
 vertical-align: middle;
}
.comment-bar{
  text-align: left;
  background: #f1f1f1;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s;
  width: 780px;
  margin-bottom: 30px;
}
.comment-bar:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.comment-title{
  background: #2c2c2c;
  color: #f1f1f1;
  padding: 15px 20px;
}
.comment{
  display: block;
  padding: 20px 20px 0 20px;
}
.comment-user-photo{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.comment-user-photo div{
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.2s;
  border: 2px solid #f1f1f1;
}
.comment-user-photo div:hover{
  border-color: #ccc;
}
.comment-body{
  display: inline-block;
}
.comment-date, .comment-text{
  padding-bottom: 10px;
}
.comment-reply i{
  display: inline-block;
}
.comment-reply{
  color: #2c2c2c;
  transition: 0.2s;
}
.comment-reply:hover{
  color: black;
}
.comment-reply h5{
  display: inline-block;
  margin-left: 5px;
}
.comment-date{
  color: #4c4c4c;
}
.comment-user-name h4{
  margin: 10px 0;
  display: inline-block;
  color: #1c1c1c;
  transition: 0.1s;
}
.comment-user-name:hover h4{
  color: black;
}
.comment-children{
  padding-left: 30px;
}
.comment-respond-bar{
  padding: 30px 20px 20px 20px;
  background: #2c2c2c;
  color: #f1f1f1;
  margin-top: 20px;
}
.comment-respond-title{
  padding-bottom: 20px;
}
#comment-respond{
  text-align: justify;
}
.comment-bar input{
  padding: 5px;
  border-radius: 5px;
  background: #3c3c3c;
  color: #f1f1f1;
  transition: all 0.2s;
  width: 233.5px;
  height: 17px;
}
.comment-bar input:focus{
  color: #f9f9f9;
  background: #4c4c4c;
}
.comment-bar textarea{
  transition: 0.2s;
}
.comment-bar textarea:focus{
  color: #f9f9f9;
  background: #4c4c4c;
}
#comment-respond-checkbox{
  height: 15px;
  width: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.comment-bar button{
  padding: 10px 15px;
  background: #3c3c3c;
  color: #ccc;
  border-radius: 5px;
  transition: all 0.2s;
}
.comment-respond-bar label{
  position: relative;
  bottom: 2px;
}
.comment-bar button:hover{
  background: #5c5c5c;
  color: #fff
}
