/* Header */
header{
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  background: #fff;
}
.header-top{
  display: block;
  width: 100%;
}
.header-top a{
  color: #9f9f9f;
  transition: all 0.2s;
}
.header-top a:hover{
  color: #cccccc;
}
.header-middle{
  margin-top: 20px;
  min-height: 100px;
  width: 100%;
}
.header-bottom{
  margin: 0px 10px;
  min-height: 50px;
}
.header-contacts{
  height: 20px;
  background: #3c3c3c;
  padding: 10px 0 6px 0;
  font-size: 14px;
  font-weight: bold;
}
.header-contacts-mail{
  display: inline-block;
  text-align: left;
  float: left;
  margin-left: 100px;
}
.header-contacts-phone{
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 100px;
}
.header-menu-bar{
  position: relative;
  top: 5px;
  display: inline-block;
  float: left;
  margin-left: 15px;
  margin-right: 20px;
  font-size: 26px;
  text-align: center;
  transform: rotateZ(0deg);
  transition: all 0.3s;
}
.header-menu-bar:hover{
  text-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}
.header-logo-bar{
  height: 100px;
  display: block;
  margin: 0 auto;
  font-size: 64px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.header-search-bar{
  display: inline-block;
  float: right;
  margin-right: 15px;
  z-index: 50;
  position: relative;
}
.header-search{
  background: #fff;
  border: 2px solid rgb(220, 220, 220);
  padding: 5px;
  transition: all 0.3s;
}
.header-search:hover{
  border: 2px solid rgb(150, 150, 150);
  transition: all 0.1s;
  background: #f6f6f6;
  color: #000;
}
.header-search:hover .search-symbol{
  color: rgb(50, 50, 50);
  transition: all 0.1s;
}
#searchfield{
  border: none;
  outline: none;
  background: rgba(0,0,0,0);
  transition: width 0.5s;
  width: 100px;
  height: 16px;
}
#searchfield:focus{
  width: 200px;
  transition: width 0.3s;
}
.search-symbol{
  color: rgb(150, 150, 150);
  transition: all 0.3s;
}
.header-pagename{
  display: inline-block;
  position: relative;
  left: 70px;
  height: 0;
  top: 23px;
}
.header-pagename-bar{
  display: inline-block;
  margin-left: 10px;
  border-top: 2px solid #1c1c1c;
  padding: 10px;
  position: relative;
  top: 10px;
}
.header-pagename-bar-this{
  display: inline-block;
  margin-left: 10px;
  border-top: 2px solid #1c1c1c;
  padding: 7px 10px;
  position: relative;
  top: 10px;
}
.header-description-bar{
  text-align: center;
  width: 100%;
}
.header-description{
  position: relative;
  font-weight: bold;
  font-size: 20px;
  color: #2c2c2c;
  margin-top: 10px;
}
/* Sidebar Menu */
.menu-overlay{
  margin: 0;
  position: fixed;
  height: 100%;
  width: 0;
  background: rgba(44,44,44,0.95);
  color: #c9c9c9;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  z-index: 5000;
}
.menu-overlay a{
  color: #c9c9c9;
  transition: all 0.2s;
}
.menu-close{
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  font-size: 24px;
  transition: all 0.2s;
}
.menu-close:hover{
  cursor: pointer;
  color: #f9f9f9;
}
.menu-list{
  margin-top: 50px;
}
.menu-list-dropdown-title{
  margin-bottom: 10px;
  transition: all 0.2s;
}
.menu-list-dropdown-title:hover{
  cursor: pointer;
  color: #f9f9f9;
}
.menu-list-dropdown-bar{
  margin-bottom: 20px;
  opacity: 0;
}
.menu-list-dropdown{
  overflow: hidden;
}
.menu-list-dropdown-item{
  margin-bottom: 10px;
}
.menu-list-dropdown-item a{
  color: #999999;
  font-size: 18px;
}
.menu-list-item{
  margin-bottom: 20px;
  opacity: 0;
}
.menu-arrow{
  position: relative;
  left: 5px;
  top: 2px;
}
.menu-overlay a:hover{
  color: #f9f9f9;
}
/* Slider */
.slider-bar{
  text-align: center;
  margin: 25px 0;
}
.slider{
  height: 380px;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  width: 1228px;
}
.slider-image{
  display: block;
  overflow: hidden;
  height: 380px;
  background-repeat: space;
  background-size: contain;
}
.slider-text{
  font-weight: normal;
  font-style: normal;
  display: block;
  color: #fff;
  background: rgba(0,0,0,0.4) ;
  text-align: center;
  position: relative;
  padding: 10px 0;
  top: 35%;
}
.slider-text h1{
  position: relative;
  font-size: 26px;
  line-height: 1.2em;
  font-family: oswald;
  font-weight: bold;
}
.slider-text p{
  font-style: italic;
  position: relative;
  font-size: 20px;
  bottom: 10px;
  color: #f1f1f1;
  font-family: oswald;
}
.slider-nav-prev, .slider-nav-next{
  display: inline-block;
  color: #bababa;
  position: relative;
  bottom: 170px;
  margin: 0 10px;
  transition: all 0.1s;
  font-size: 12px;
  opacity: 0;
}
.slider-triangle-left, .slider-triangle-right{
  background: #fff;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: -1;
  transform: rotateZ(45deg);
  border-radius: 10px;
  bottom: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.slider-triangle-right{
  right: 75px;
}
.slider-nav-prev:hover, .slider-nav-next:hover{
  cursor: pointer;
  color: #8c8c8c;
}
/* Main content */
#main-content{
  text-align: center;
  margin-top: 30px;
  display: block;
  min-height: 80%;
}
#main-content h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
.page-sidebar-bar, .blog-list-bar{
  display: inline-block;
  margin: 0 20px;
  overflow: hidden;
  vertical-align: top;
}
.blog-list-bar{
  max-width: 780px;
}
.page-sidebar-bar{
  width: 405px;
}
.block{
  text-align: left;
  min-height: 100px;
  border-radius: 10px 10px 15px 15px;
  background: #f1f1f1;
  transition: all 0.3s;
  overflow: hidden;
  transition: border 0s;
}
#blog-cover{
  width: 780px;
}
.blog-content p, .about-me-content p, .about-me-content-black{
  font-family: fira-sans, tahoma, arial;
}
.blog-content p i, .about-me-content p i{
  font-style: normal;
  font-family: fira-sans-italic, tahoma, arial;
}
.blog-content p b, .about-me-content p b{
  font-weight: normal;
  font-family: fira-sans-bold, tahoma, arial;
}
.blog-block, #block-cover{
  width: 780px;
}
.blog-image{
  overflow: hidden;
  max-height: 300px;
}
.page-sidebar-block{
  width: 405px;
  min-height: 125px;
  margin-bottom: 30px;
}
.blog-date{
  color: #7c7c7c;
  padding: 9px 10px 10px 0px;
  height: 12px;
  margin-bottom: 3px;
}
.blog-header, .page-sidebar-header{
  color: #f1f1f1;
  position: relative;
  background: rgb(32,32,32); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(32,32,32,1) 0%, rgba(48,48,48,1) 20%, rgba(48,48,48,1) 80%, rgba(32,32,32,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(32,32,32,1) 0%,rgba(48,48,48,1) 20%,rgba(48,48,48,1) 80%,rgba(32,32,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(32,32,32,1) 0%,rgba(48,48,48,1) 20%,rgba(48,48,48,1) 80%,rgba(32,32,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020',GradientType=1 ); /* IE6-9 */
  overflow: hidden;
  height: 50px;
}
.blog-header a{
  color: #c9c9c9;
  height: 25px;
  transition: all 0.2s;
}
.blog-header h2{
  color: #c9c9c9;
  height: 25px;
  transition: all 0.2s;
}
.blog-header h2:hover, .blog-header a:hover{
  color: #f9f9f9;
}
.blog-header a{
  width: 100%;
  height: auto;
  line-height: 1.5rem;
}
.blog-title h2{
  width: 100%;
  height: auto;
}
.blog-title{
  position: relative;
  height: auto;
  margin-bottom: 5px;
}
.blog-header{
  width: 100%;
  height: auto;
  padding: 10px 10px 0px 10px;
  margin: 0;
}
.page-sidebar-title{
  position: relative;
  top: 15px;
  left: 15px;
}
.blog-content{
  font-size: 16px;
  padding: 10px 20px;
  text-align: justify;
}
.blog-more{
  position: relative;
  display: inline-block;
  margin: 10px 0;
  width: 100px;
  height: 25px;
  left: 665px;
  bottom: 81px;
}
.blog-more a{
  background: #3c3c3c;
  border-radius: 15px;
  border: 2px solid #1c1c1c;
  padding: 5px 10px;
  color: #c9c9c9;
  transition: all 0.2s;
  font-size: 15px;
}
.blog-more a:hover{
  color: #f9f9f9;
  border-color: #2c2c2c;
  background-color: #4c4c4c;
}
.blog-footer{
  background: #2c2c2c;
  background: rgb(32,32,32); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(40,40,40,1) 0%, rgba(32,32,32,1) 20%, rgba(32,32,32,1) 80%, rgba(40,40,40,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(40,40,40,1) 0%,rgba(32,32,32,1) 20%,rgba(32,32,32,1) 80%,rgba(40,40,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(40,40,40,1) 0%,rgba(32,32,32,1) 20%,rgba(32,32,32,1) 80%,rgba(40,40,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020',GradientType=1 ); /* IE6-9 */
  height: 50px;
  width: 100%;
}
.blog-footer h4{
  font-family: oxygen, arial, tahoma;
}
.blog-stats{
  padding-top: 6px;
  color: #9c9c9c;
  width: 550px;
  height: 40px;
  text-align: left;
}
.blog-stats-views{
  display: inline-block;
  height: 40px;
  min-width: 100px;
  text-align: center;
  margin-left: 5px;
  text-align: center;
  position: relative;
  bottom: 6px;
}
.blog-stats-author{
  min-width: 240px;
  max-width: 300px;
  display: inline-block;
  height: 40px;
  text-align: center;
}
.blog-stats-author h4{
  max-width: 300px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
}
.blog-stats-author p{
  position: relative;
  left: 5px;
}
.blog-stats-comments{
  display: inline-block;
  text-align: right;
  height: 40px;
  min-width: 125px;
  float: right;
  text-align: center;
}
.blog-stats h4{
  margin-top: 2.5px;
  color: #bababa;
}
.blog-stats i{
  margin-right: 5px;
}
.blog-share{
  display: block;
  position: relative;
  bottom: 32px;
  left: 600px;
  color: #c9c9c9;
  font-size: 18px;
  transition: all 0.2s;
  width: 25px;
  text-align: center;
}
.blog-share:hover{
  color: #f9f9f9;
  cursor: pointer;
}
.blog-share-menu{
  background: #1c1c1c;
  height:100px;
  width: 350px;
  text-align: center;
  color: #f1f1f1;
  border-radius: 10px;
  position: relative;
  z-index: -1000;
  opacity: 0;
  bottom: 165px;
  left: 420px;
  overflow: hidden;
}
.blog-share-menu a{
  color: #c9c9c9;
  font-size: 24px;
  background: #141414;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.1s;
}
.blog-share-menu-bar{
  height: 50px;
  width: 0px;
}
.blog-share-menu a:hover{
  background: #2c2c2c;
}
.blog-share-menu-item{
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  height: 50px;
  width: 60px;
  opacity: 0;
}
.blog-share-menu-title{
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
}
.blog-share-menu-items{
  display: block;
}
.triangle{
  background: rgba(0,0,0,0);
  height: 0px;
  width: 0px;
  position: relative;
  z-index: -1000;
  opacity: 0;
  bottom: 47px;
  right: 4px;
  border: 12px solid rgba(0,0,0,0);
  border-top: 12px solid #1c1c1c;
}
.blog-tags{
  padding: 2px 10px 3px 0px;
  background: rgb(32,32,32); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(32,32,32,1) 0%, rgba(48,48,48,1) 20%, rgba(48,48,48,1) 80%, rgba(32,32,32,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(32,32,32,1) 0%,rgba(48,48,48,1) 20%,rgba(48,48,48,1) 80%,rgba(32,32,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(32,32,32,1) 0%,rgba(48,48,48,1) 20%,rgba(48,48,48,1) 80%,rgba(32,32,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020',GradientType=1 ); /* IE6-9 */
  height: 0;
}
.blog-tags a{
  display: inline-block;
  padding: 4px 10px;
  margin-right: 10px;
  background: #f1f1f1;
  border-radius: 15px;
  border: 2px solid #f1f1f1;
  transition: all 0.2s;
}
.blog-tags a:hover{
  background: #f9f9f9;
  border-color: #1c1c1c;
}
.blog-tags-button h4{
  color: #f5f5f5;
  height: 18px;
  width: 18px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s;
  background: rgba(10,10,10,0.5);
}
.blog-tags-button{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  height: 20px;
  width: 20px;
  opacity: 0;
}
.blog-tags-button-bar{
  position: relative;
  height: 0px;
  width: 0px;
  overflow: visible;
  top: 5px;
}
.blog-tags-button:hover h4{
  cursor: pointer;
}
.blog-tags-button-h4_hover{
  background: #3c3c3c;
}
.blog-tags-list{
  display: inline-block;
  padding-left: 50px;
}
.blog-row{
  padding: 5px 0px;
}
.blog-date p, .blog-footer p {
  line-height: 1rem;
}
 /* Page Navigation */
.page-navigation{
  vertical-align: bottom;
  border-radius: 25px;
  padding: 10px 5px;
  padding-top: 15px;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  height: auto;
}
.page-navigation a{
  color: #c9c9c9;
}
.page-navigation-arrow-left, .page-navigation-arrow-right{
  display: inline-block;
  background: #2c2c2c;
  padding: 11px;
  border-radius: 20px;
  margin-right: 10px;
  border: 2px solid #2c2c2c;
  transition: all 0.1s;
}
.page-navigation-arrow-right{
  margin-left: 10px;
}
.page-navigation-arrow-left{
  margin-right: 10px;
}
.page-navigation-list{
  display: inline-block;
  position: relative;
  top: 1px;
}
.page-navigation-list a{
  color: #f1f1f1;
  font-size: 18px;
  font-weight: bold;
}
.page-navigation-item{
  border: 2px solid #3c3c3c;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 20px;
  background: #3c3c3c;
  margin: 0 1px;
  transition: all 0.1s;
}
a.page-navigation-item-current{
  border: 2px solid #141414;
  padding: 10px 12px;
  display: inline-block;
  border-radius: 20px;
  color: #2c2c2c;
  background: #f9f9f9;
  margin: 0 1px;
}
.page-navigation-item:hover, .page-navigation-arrow-left:hover, .page-navigation-arrow-right:hover{
  background: #f1f1f1;
  color: #2c2c2c;
}
/* Back to top */
#back-to-top{
  position: fixed;
  bottom: 0px;
  left: 96%;
  text-align: center;
  background: #3c3c3c;
  background: rgb(44,44,44); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(44,44,44,1) 48%, rgba(60,60,60,1) 52%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(44,44,44,1) 48%,rgba(60,60,60,1) 52%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(44,44,44,1) 48%,rgba(60,60,60,1) 52%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #f1f1f1;
  z-index: 999;
  padding: 12px ;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  font-size: 24px;
  transition: all 0.2s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
#back-to-top:hover{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(60,60,60,1) 47%, rgba(44,44,44,1) 53%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(60,60,60,1) 47%,rgba(44,44,44,1) 53%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(60,60,60,1) 47%,rgba(44,44,44,1) 53%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 /* Page sidebar */
.page-sidebar-content{
  text-align: center;
}
.about-me-name, .about-me-surname, .about-me-image, .pagename{
  display: inline-block;
}
.about-me-name, .about-me-surname{
  background-color: #4c4c4c;
  color: #f9f9f9;
  padding: 10px;
  position: relative;
  overflow: hidden;
  width: 50px;
  z-index: 99;
  height: 20px;
  border-radius: 20px;
  padding-top: 15px;
  transition: all 2s;
  font-size: 14px;
}
.about-me-name{
  text-align: right;
  top: 108px;
  right: 60px;
  padding-right: 10px;
}
.about-me-surname{
  text-align: left;
  bottom: 100px;
  left: 60px;
  padding-left: 10px;
}
.about-me-bar:hover .about-me-name{
  background: #3c3c3c;
  width: 150px;
  border-radius: 0px;
  right: 180px;
  transition: all 1s;
}
.about-me-bar:hover .about-me-surname{
  background: #3c3c3c;
  width: 150px;
  border-radius: 0px;
  left: 180px;
  transition: all 1s;
}
.about-me-image{
 height: 200px;
 width: 200px;
 overflow: hidden;
 border-radius: 50%;
 margin: -20px 0;
 border: 0px solid #3c3c3c;
}
.about-me-image img{
  z-index: 100;
  position: relative;
}
.about-me-name-bar, .about-me-surname-bar{
  display: inline-block;
  height: 0;
  width: 100%;
}
.about-me-content{
  position: relative;
  z-index: 1;
  right: 12px;
  display: block;
  margin: 0 auto;
  width: 355px;
  margin-bottom: 15px;
  padding: 0 25px;
}
.about-me-content p, .about-me-content-black p{
  line-height: 1.5rem;
}
.about-me-content-black{
  padding: 0 20px;
  position: relative;
  bottom: -9px;
  color: #f9f9f9;
  width: 355px;
  left: 6px;
}
.about-me-content-cover{
  height: 0;
}
.about-me-content-black-cover{
  background: #4c4c4c;
  width: 405px;
  position: relative;
  z-index: 10;
  height: 0;
  right: 13px;
  overflow: hidden;
  bottom: 9px;
  transition: 1s;
  border-radius: 10px;
}
.contact-us-list{
  text-align: left;
  padding: 20px;
  line-height: 45px;
}
.contact-us-list p{
  display: inline-block;
  font-size: 18px;
}
.contact-us-list i{
  background: rgb(44,44,44); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(44,44,44,1) 47%, rgba(60,60,60,1) 53%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(44,44,44,1) 47%,rgba(60,60,60,1) 53%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(44,44,44,1) 47%,rgba(60,60,60,1) 53%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 0.2s;
}
.contact-us-list .fa-map-marker-alt{
  padding: 10px 12px 12px;
}
.contact-us-bar li:hover i{
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(60,60,60,1) 46%, rgba(44,44,44,1) 54%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(60,60,60,1) 46%,rgba(44,44,44,1) 54%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(60,60,60,1) 46%,rgba(44,44,44,1) 54%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #f9f9f9;
}
.follow-us-content{
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.follow-us-content a{
  display: inline-block;
  background: rgb(44,44,44); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(44,44,44,1) 47%, rgba(60,60,60,1) 53%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(44,44,44,1) 47%,rgba(60,60,60,1) 53%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(44,44,44,1) 47%,rgba(60,60,60,1) 53%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #f1f1f1;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
}
.follow-us-content a:hover{
  background: rgb(60,60,60); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(60,60,60,1) 47%, rgba(44,44,44,1) 53%, rgba(60,60,60,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(60,60,60,1) 47%,rgba(44,44,44,1) 53%,rgba(60,60,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(60,60,60,1) 47%,rgba(44,44,44,1) 53%,rgba(60,60,60,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#3c3c3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #f9f9f9;
}
.fa-google-plus-g{
  height: 10px;
  width: 24px;
  position: relative;
  right: 2.5px;
}
.popular-post-bar b, .popular-post-title{
  font-family: hind-bold;
}
.popular-post-content{
  padding: 0px 20px;
}
.popular-post-block{
  overflow: hidden;
  width: 360px;
  height: 150px;
  margin: 20px auto;
  border-radius: 5px;
}
.popular-post-other{
  top: 80%;
  position: relative;
  padding: 7px 5px 10px 5px;
  width: 100%;
  color: #f1f1f1;
  background: rgba(33,33,33,0.8);
  font-size: 15px;
  transition: 0.3s;
  opacity: 0;
}
.popular-post-date, .popular-post-author{
  display: inline-block;
  text-align: center;
}
.popular-post-author{
  margin-right: 30px;
}
.popular-post-title{
  bottom: 22%;
  position: relative;
  background: rgba(33,33,33,0.9);
  color: #f9f9f9;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  padding: 0px 0 5px;
}
.popular-post-title p{
  padding: 5px 10px;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: 4px;
}
.popular-post-block:hover .popular-post-title{
  bottom: 0%;
  opacity: 1;
}
.popular-post-block:hover .popular-post-other{
  top: 35%;
  opacity: 1;
}
.categories-content li{
  margin: 10px 0;
  text-align: center;
}
.categories-content{
  padding: 10px 20px;
}
.categories-content a{
  display: inline-block;
  background: #3c3c3c;
  color: #f1f1f1;
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  transition: 0.2s;
  overflow: hidden;
}
.categories-content div{
  position: relative;
  display: inline-block;
  background: #4c4c4c;
  color: #f5f5f5;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  float: right;
  text-align: center;
  transition: 1s;
  left: 30%;
}
.categories-content p{
  display: inline-block;
  padding-top: 6px;
  position: relative;
  left: 5%;
}
.categories-content li:hover a{
  color: #f9f9f9;
  background: #2c2c2c;
}
.categories-content li:hover div{
  left: 0;
  transition: 0.3s;
}
.newsletter-content input{
  border: none;
  outline: none;
  background: #fff;
  transition: all 0.5s;
  width: 93.5%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #c9c9c9;
  margin: 0 auto;
  font-size: 16px;
}
.newsletter-content input:focus{
  border-color: #9c9c9c;
}
.newsletter-content{
  padding: 20px;
}
.newsletter-content button{
  transition: all 0.5s;
  margin: 0 auto;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  display: block;
  background: #2c2c2c;
  color: #f1f1f1;
  border-radius: 5px;
  font-size: 16px;
}
.newsletter-content button:hover{
  background: #3c3c3c;
}
.quote p{
  font-family: lato-italic;
  font-size: 18px;
}
.blog-list-bar textarea::placeholder, .blog-list-bar input::placeholder, .contact-bar textarea::placeholder, .contact-bar input::placeholder{
  color: #9c9c9c;
}
.blog-list-bar textarea::-moz-placeholder, .blog-list-bar input::-moz-placeholder, .contact-bar textarea::-moz-placeholder, .contact-bar input::-moz-placeholder{
  color: #f1f1f1;
}
.col{
  display: inline-block;
  height: auto;
  width: 45%;
  padding-right: 50px;
}
.weight-cover{
  height: 0;
  width: 0;
}
.page-sidebar-content.about-me-content{
  position: static;
  width: 100%;
  padding: 0;
}
.about-me-content .about-me-content, .about-me-content-black-cover{
  right: 0;
}
