.contact-bar h1, .contact-bar h2, .contact-bar h3, .contact-bar h4, .contact-bar h5, .contact-bar h6{
  margin: 10px 0;
}
.contact-bar h1{
  font-size: 48px;
}
.contact-bar h2{
  font-size: 38px;
}
.contact-bar h3{
  font-size: 32px;
}
.contact-bar h4{
  font-size: 26px;
}
.contact-bar h5{
  font-size: 18px;
}
.contact-bar h6{
  font-size: 16px;
}
.contact-bar p{
  line-height: 1.5rem;
  padding-bottom: 10px;
}
.contact-bar li{
  margin: 5px 0;
}
.contact-bar ul{
  padding: 10px 20px;
  margin: 0;
  list-style-type: disc;
}
.contact-bar ol{
  padding: 10px 20px;
  margin: 0;
  list-style-type: decimal;
}
.contact-bar{
  background: #3c3c3c;
  width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  color: #f1f1f1;
  overflow: hidden;
}
.contact-title{
  background: #2c2c2c;
  padding: 10px;
}
.contact-content{
  padding-top: 20px;
  text-align: left;
  font-family: fira-sans, tahoma, arial;
}
.contact-list{
  display: block;
  text-align: center;
  width: 100%;
}
.item{
  display: inline-block;
  background: #2c2c2c;
  padding: 10px 15px;
  margin: 0px 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ccc;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0px 0px 1px rgb(0, 0, 0, 0);
}
.item-title{
  display: inline-block;
  padding-top: 5px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #3c3c3c;
}
.item:hover{
  box-shadow: 0px 2px 3px rgb(0, 0, 0,0.5);
  color: #f9f9f9;
}
.item-description{
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: 17px;
}
.contact-bottom{
  display: block;
  background: #2c2c2c;
  width: 100%;
  min-height: 100px;
  text-align: center;
  padding: 100px 0 80px 0;
}
#contact-feedback{
  position: relative;
  z-index: 10;
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  background: #222222;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.contact-bar input{
  padding: 5px;
  border-radius: 5px;
  background: #3c3c3c;
  color: #f1f1f1;
  margin-bottom: 15px;
  transition: all 0.2s;
}
.contact-bar input:focus{
  color: #f9f9f9;
  background: #4c4c4c;
}
.contact-bar textarea{
  transition: 0.2s;
}
.contact-bar textarea:focus{
  color: #f9f9f9;
  background: #4c4c4c;
}
.contact-bar button{
  padding: 10px 15px;
  background: #3c3c3c;
  color: #ccc;
  border-radius: 5px;
  transition: all 0.2s;
}
.contact-bar button:hover{
  background: #5c5c5c;
  color: #fff
}
textarea{
  max-height: 300px;
  min-height: 150px;
  margin-bottom: 20px;
}
.contact-feedback-subject{
  width: 98.6%;
}
.contact-feedback-title{
  text-align: center;
}
.contact-feedback-title h4{
  margin: 0;
  margin-bottom: 20px;
}
.cover{
  width: 100%;
  text-align: center;
}
.cover input{
  display: inline-block;
  width: 282.7px;
}
.contact-feedback-name{
  margin-right: 10px;
}
.contact-map{
  overflow: hidden;
  z-index: 11;
  position: relative;
  height: 408.5px;
  left: 320px;
  width: 639px;
  border-radius: 10px 10px 0 0;
}
.contact-map-title{
  width: 100%;
  padding: 5px 0px;
  background: #222222;
}
.contact-show-map-title{
  width: 100%;
  padding: 5px 0px;
  background: #1c1c1c;
  border-radius: 10px 10px 0 0;
  color: #bababa;
  transition: all 0.2s;
}
.contact-show-feedback-title{
  width: 100%;
  padding: 5px 0px;
  background: #1c1c1c;
  border-radius: 10px 10px 0 0;
  color: #bababa;
  transition: all 0.2s;
}
.contact-show-feedback-title h4, .contact-show-map-title h4{
  font-size: 20px;
}
.contact-show-feedback-title:hover, .contact-show-map-title:hover{
  color: #fff;
  cursor: pointer;
}
.weight-cover{
  height: 0;
  width: 0;
}
.contact-show-feedback{
  position: relative;
  left: 565px;
  bottom: 50px;
  text-align: center;
  width: 150px;
}
.contact-show-map{
  position: relative;
  left: 565px;
  bottom: 50px;
  text-align: center;
  width: 150px;
}
.item h5{
  color: #ccc;
}
.item a{
  color: #ccc;
}
.item:hover h5, .item:hover a{
  color: #f9f9f9;
}
