.portfolio-detail-bar h1, .portfolio-detail-bar h2, .portfolio-detail-bar h3, .portfolio-detail-bar h4, .portfolio-detail-bar h5, .portfolio-detail-bar h6{
  margin: 10px 0;
}
.portfolio-detail-bar h1{
  font-size: 48px;
}
.portfolio-detail-bar h2{
  font-size: 38px;
}
.portfolio-detail-bar h3{
  font-size: 32px;
}
.portfolio-detail-bar h4{
  font-size: 26px;
}
.portfolio-detail-bar h5{
  font-size: 18px;
}
.portfolio-detail-bar h6{
  font-size: 16px;
}
.portfolio-detail-bar p{
  line-height: 1.5rem;
  padding-bottom: 10px;
}
.portfolio-detail-bar li{
  margin: 5px 0;
}
.portfolio-detail-bar ul{
  padding: 10px 20px;
  margin: 0;
  list-style-type: disc;
}
.portfolio-detail-bar ol{
  padding: 10px 20px;
  margin: 0;
  list-style-type: decimal;
}
.portfolio-detail-bar p{
  line-height: 1.5rem;
  padding-bottom: 10px;
}
.portfolio-detail-bar{
  background: #3c3c3c;
  width: 1280px;
  margin: 0 auto;
  border-radius: 20px;
  color: #f1f1f1;
  overflow: hidden;
}
.portfolio-detail-bar-title{
  background: #2c2c2c;
  padding: 10px
}
.portfolio-detail-content{
  padding: 20px 0;
  text-align: left;
  font-family: fira-sans, tahoma, arial;
}
.portfolio-stats{
  text-align: center;
}
.portfolio-stats-item{
  display: inline-block;
  margin: 0 20px;
  background: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 10px;
  transition: 0.2s;
  margin-bottom: 20px;
}
.portfolio-stats i, .portfolio-stats h5{
  display: inline-block;
}
.portfolio-stats h5{
  margin-right: 5px;
  margin-left: 5px;
  font-family: oxygen, arial, tahoma;
}
.portfolio-stats-title{
  color: #2c2c2c;
  display: inline-block;
  transition: 0.2s;
}
.portfolio-stats-description{
  display: inline-block;
  color: #3c3c3c;
  transition: 0.2s;
  font-family: fira-sans-bold, arial, tahoma
}
.portfolio-stats-item:hover{
  background: #f9f9f9;
}
.portfolio-stats-item:hover .portfolio-stats-title, .portfolio-stats-item:hover .portfolio-stats-description{
  color: #000;
}
.portfolio-detail-image{
  text-align: center;
  width: 100%;
  max-height: 600px;
  background: #2c2c2c;
  overflow: hidden;
}
.portfolio-description{
  width: 100%;
  background: #3c3c3c;
  padding: 20px;
}
